.body {
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.Header {
  display: flex;
  align-items: center;
  background-color: purple;
  justify-content: space-between;
}




.logo {
  width: 100px;
  cursor: pointer;
}

.nav-items>ul {
  display: flex;


}

.Search-box {
  margin-top: 20px;
}

.nav-items>ul>li {
  list-style: none;
  margin-right: 10px;
  font-size: 20px;
}

.restaurent-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
  justify-content: space-evenly;
  gap: 30px 20px;

}



.restaurent-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 300px;
}

.restaurent-card:hover {
  box-shadow: 0px 0px 10px #ccc;
  border: 1px solid #ccc;

}

.restaurent-card .restaurent-card>img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 8px;
}

.name {
  font-weight: bold;
  font-size: 15px;
  margin-top: 4px;
  margin-bottom: 4px;
  color: #333;
}

.cuisines {
  margin-bottom: 8px;
  color: #888
}

.details-container {
  display: flex;
  justify-content: space-between;
}



.delivery-time {
  font-size: 12px;

}

.avg-ratings,
.price,
.delivery-time {
  flex-basis: 33%;
  text-align: center;
  color: #888
}